* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    background-color: #7c127c;
    flex-direction: column;

    height: 100vh;
    width: 200px;

    justify-content: space-between;
    align-items: stretch;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    flex-grow: 0.1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;

}

.header h2 {
    color: white;
    text-align: center;

}









/* _________________________________________________ */

.bar {
    display: flex;
    /* background-color: darkred; */
    padding-left: 20px;
    height: 100px;

}

.menu-images {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    /* background-color: blue; */
}

.div-menu-images {

    display: flex;

    align-items: center;
    /* background-color: darkblue; */

    flex-direction: column;
    justify-content: space-evenly
}

.bar ul {
    /* background-color: aliceblue; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: antiquewhite; */
}



.bar ul li {

    font-size: 11px;
    padding: 8px;



}

.bar ul li a {
    color: lightgray;
    text-decoration: none;
}






/* _________________________________________________ */





.content {
    /* background-color: white; */
    flex-grow: 0.8;

}





/* _________________________________________________ */





.sign-out {

    border-top: 1px solid grey;
    width: 100%;
    height: 180px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.sign-out li {
    color: white;
}

.sign-out h4,
h3 {
    font-size: 11px;
    padding: 10px;
    color: white;
}

.sign-out h4 {
    display: flex;
    align-items: flex-start;
}

.sign-out div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {

    display: flex;

    flex-direction: row;



}

.logout li {
    list-style: none;
}



.foto-perfil {
    width: 70px;
    border-radius: 50%;
    border: 2px solid black;
    padding: 4px;
}